<% layout("layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-md-8 offset-2">
    <h1>Create a New List</h1>
    <form
      action="/listings"
      method="post"
      enctype="multipart/form-data"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Add a catchy title"
          required
        />
        <div class="invalid-feedback">Title is required!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="description"
          required
        ></textarea>
        <div class="invalid-feedback">Description is required!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image </label>
        <input class="form-control" type="file" name="image" required/>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              class="form-control"
              type="number"
              name="price"
              placeholder="Show decent price"
              required
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input
              class="form-control"
              type="text"
              name="country"
              placeholder="Country"
              required
            />
            <div class="invalid-feedback">Country is required!</div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          class="form-control"
          type="text"
          name="location"
          placeholder="Location"
          required
        />
        <div class="invalid-feedback">Location is required!</div>
      </div>

      <button type="submit" class="btn btn-dark add-btn mt-3">Add</button>
    </form>
  </div>
</div>
