<% layout("layouts/boilerplate.ejs") %>
  <div class="row new-main">
    <div class="col-md-8 new-form">
      <h1 class="login-heading">Create a new Venue</h1>
      <form action="/listings" method="post" enctype="multipart/form-data" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" type="text" name="title" placeholder="Add a catchy title" required />
          <div class="invalid-feedback">Title is required!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description" required></textarea>
          <div class="invalid-feedback">Description is required!</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image </label>
          <input class="form-control" type="file" name="image" required />
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input class="form-control" type="number" name="price" placeholder="Show decent price" required />
            </div>
          </div>
          <div class="col-md-8">
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <div class="inp-category">
                <input class="form-control" type="text" name="category" placeholder="Category" />
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info " data-bs-toggle="modal" data-bs-target="#exampleModal">
                  i
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Available Categories</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        trending, cities, mountains, swimming-pools, camping, farms, arctic, beaches,
                        heritage, lakes, desert, spiritual
                        <br>
                        <i style="color: red;">You can have at most three categories</i>

                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="price" class="form-label">Location</label>
              <input class="form-control" type="text" name="location" placeholder="Exact Location" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input class="form-control" type="text" name="country" placeholder="Country" required />
              <div class="invalid-feedback">Country is required!</div>
            </div>
          </div>
        </div>


        <button type="submit" class="btn add-btn mt-3 login-btn">Add</button>
      </form>
    </div>
  </div>