<% layout("layouts/boilerplate.ejs") %>
  <div class="row new-main">
    <div class="col-md-8 new-form">
      <h1 class="login-heading">Create a new Venue</h1>
      <form action="/listings" method="post" enctype="multipart/form-data" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" type="text" name="title" placeholder="Add a catchy title" required />
          <div class="invalid-feedback">Title is required!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description" required></textarea>
          <div class="invalid-feedback">Description is required!</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image </label>
          <input class="form-control" type="file" name="image" required />
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input class="form-control" type="number" name="price" placeholder="Show decent price" required />
            </div>
          </div>
          <div class="col-md-8">
            <div class="mb-3">
              <label for="country" class="form-label">Category</label>
              <br>
              <select name="category" required>
                <option value="" disabled selected>Select category</option>
                <option value="mountains">Mountains</option>
                <option value="trending">Trending</option>
                <option value="beaches">Beaches</option>
                <option value="spiritual">Spiritual</option>
                <option value="heritage">Heritage</option>
                <option value="swimming-pools">Swimming Pools</option>
                <option value="lakes">lakes</option>
                <option value="cities">Cities</option>
                <option value="camping">Camping</option>
                <option value="farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="desert">Desert</option>
              </select>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="price" class="form-label">Location</label>
              <input class="form-control" type="text" name="location" placeholder="Exact Location" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <input class="form-control" type="text" name="country" placeholder="Country" required />
              <div class="invalid-feedback">Country is required!</div>
            </div>
          </div>
        </div>


        <button type="submit" class="btn add-btn mt-3 login-btn">Add</button>
      </form>
    </div>
  </div>