.listings-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.row a {
  text-decoration: none;
}

.card-img-top {
  border-radius: 1rem;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 5px 0 5px 5px !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text p {
  font-weight: 400;
}

.listing-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
}

.listing-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #222;
}

.listing-card {
  margin-bottom: 2rem;
  border: 2px solid #ddd;
  border-radius: 15px;
  background: #c3f6f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 0;
  transform: scale(0.95);
  animation: fadeUp 1s ease forwards;
  transition: all 0.3s ease-out allow-discrete !important;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.listing-card:hover {
  box-shadow: 1px 1px 3px 3px #77ecf3;
}
.listing-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.listing-body {
  padding: 15px;
  line-height: 1.6;
}

.owner {
  color: #555;
  font-weight: 500;
}

.tax-toggle {
  flex-shrink: 0;
  margin-left: 15px;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: #fafafa;
}

.login-main {
  border: 5px solid rgb(136, 219, 222);
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  max-width: 70vw;
  margin: auto;
  width: 750px;
  display: flex;
  flex-direction: column;
}

.login-btn {
  display: flex;
  justify-self: center;
  background-color: #3a9297;
  color: white;
  width: 5rem;
  justify-content: center;
  font-size: 18px;
}
.login-btn:hover {
  background-color: #5fd6dc;
}

.login-heading {
  text-align: center;
  color: #0d5a5e;
}

.login-form {
  margin: auto;
  width: 90%;
}

.new-main {
  display: flex;
  margin: auto;
  justify-content: center;
}

.new-form {
  border: 5px solid rgb(136, 219, 222);
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-top: 5px;
}

.inp-category {
  display: flex;
}

.inp-category button {
  background-color: #3d9da4;
}
